ENV=dev
APP_NAME=lyricsray
APP_URL=http://localhost:3000
APP_VERSION=v1.0
AWS_REGION=us-west-2

ANTHROPIC_MODEL=claude-sonnet-4-20250514
ANTHROPIC_API_KEY=

ALTCHA_SECRET=

APP_FREE_TIER_GLOBAL_DAILY_LIMIT=1000
APP_FREE_TIER_HOURLY_LIMIT=20
APP_FREE_TIER_DAILY_LIMIT=50
APP_FREE_TIER_BURST_LIMIT=5
APP_FREE_TIER_BURST_WINDOW_MINUTES=1

LOG_LEVEL=debug
PORT=14099
